# Python 3.9.10 (main, Jan 15 2022, 11:40:36)  [Clang 13.0.0 (clang-1300.0.29.3)]

PyYAML==5.4.1
boto3 == 1.24.31
clearml == 1.6.2
lightning_transformers == 0.2.1
numpy 
pandas 
pytorch_lightning == 1.6.5
scipy 
tensorboard == 2.9.0
torch == 1.12.0+cu102   
torchvision == 0.13.0+cu102
transformers == 4.20.1
